.searchpage_logo {
	/*object-fit: cover;*/
	width: 100px;
	height: 75px;
	/*margin-right: 50px;*/
}
.sr_header {
	display: flex;
	flex-wrap: wrap;
	position: sticky;
	top: 0;
	background-color: #444444;
	z-index: 100;
	align-items: flex-start;
	padding: 30px;
	border-bottom: 1px solid lightgray;
}

.sr_header > .sr_headbody > .search {
	max-width: 90%;
	margin: auto;
}

.sr_header > .sr_headbody > .search > .search_input {
	margin-top: 0;
	width: 90%;
	margin: auto;
	/*max-width: unset;*/
}

.sr_options {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}
.sr_opleft {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.sr_opleft > .option {
	display: flex;
	align-items: center;
	color: gray;
}
.sr_opleft > .option a {
	margin-right: 10px;
	margin-left: 5px;
	text-decoration: none;
	color: gray;
}

.sr_opright {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
}
.sr_opright a {
	text-decoration: none;
	color: gray;
	margin: 0 5px;
}

/*Results*/

.sr_results {
	max-width: 650px;
	margin-top: 20px;
	margin-left: 120px;
	margin-bottom: 100px;
}

.count {
	margin-bottom: 40px;
}

.result h2 {
	margin: 0;
}
.result a {
	color: #00d1cd;
	word-wrap: break-word;
}

.result .result_title {
	text-decoration: none !important;
}

.sr_img_link {
	display: flex;
	align-items: center;
}
.sr_image {
	width: 30px;
	height: 20px;
	object-fit: contain;
	margin-right: 5px;
}

.result a:hover {
	text-decoration: none;
}
.result p {
	margin-top: 10px;
	margin-bottom: 25px;
}


/*ImageResults*/
.box {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.images {
	width: 70%;
	margin: 50px 0;
	padding: 30px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	color: red;
	text-align: center;
	background-color: #eaeaea;
}
.image {
	width: 280px;
	max-height: 180px;
	object-fit: cover;
	margin-top: 10px;
	background-color: rgba(255, 100,100, 0.4);
}
.imageZ {
	border: 2px solid white;
	background-color: #424242;
	height: 280px;
	margin: 50px 10px;
	padding: 30px 10px;
	text-align: center;
	color: #F06292;
}
.imgz {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.imgz img {
	width: 95%;
	max-height: 100px;
}
.imageZ a {
	text-decoration: none;
	/*background-color: #F06292;*/
	/*color: #424242;*/
}
button.visit {
	margin-top: 25px;
	padding: 7px 15px;
	background-color: #00d1cd;
	border: 1px solid #00c1bd;
	color: #f30067;
	font-weight: bold;
}
button.visit:hover {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	border: 1px solid #f30067;
	color: #00d1cd;
}



@media only screen and (max-width: 540px) {
	.sr_header {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 5px;
	}
	.searchpage_logolink {
		margin: auto;
	}
	.searchpage_logo {
		width: 65vw;
		margin-right: 0;
		margin: auto;
	}
	.sr_options {
		flex-direction: column;
		justify-content: center;
		margin-top: 5px;
	}
	.sr_opleft {
		justify-content: center;
	}
	.sr_opright {
		display: none;
	}
	.sr_results {
		max-width: 95%;
		margin-left: 0;
		margin: 20px auto;
	}


	.images {
		width: 95%;
		margin: 50px auto;
	}
	.image {
		width: 95%;
		max-height: 200px;
		background-color: rgba(255, 100,100, 0.4);
	}

}